@import 'normalize';
// * {
//   border: 2px red solid
// }

$primary-background: #FBFBF8;


body {
  background: $primary-background;
  display: flex;
};




@media only screen and (min-device-width: 812px) {
  body {
    background: $primary-background;
    display: flex;
  };

  .plan-trip {
    border: 0;
    width: 175px;
    width: var(__size);
    height: 175px;
    width: var(__size);
    border-radius: 69px;
    background: #FBFBF8;
    box-shadow:  -20px 20px 60px #d5d5d3,
                  20px -20px 60px #ffffff;
  }

  .side-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    overflow: hidden;
    // flex-wrap: nowrap;
  }

  .trip {
    display: inline-block;
    position: relative;
    height: 4%;
    width: 100%;
    transition: .8s ease;
    overflow: hidden;

    .trip-image {
      position: relative;
      height: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

    .trip-details-display {
      z-index: 1;
      position: absolute;
      bottom: 5%;
      left: 32%;
      height: auto;
      width: 35%;
      background-color: black;
      color: white;
      opacity: 75%;
    }

  .hidden {
    display: none !important;
  }

}
