@import 'normalize';
// * {
//   border: 2px red solid
// }

$primary-background: #FBFBF8;


body {
  background: $primary-background;
  display: flex;
};




@media only screen and (min-device-width: 812px) {
  body {
    background: $primary-background;
    display: flex;
  };

  .side-window {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    overflow: hidden;
    // flex-wrap: nowrap;
  }

  .trip {
    display: inline-block;
    position: relative;
    height: 4%;
    width: 100%;
    transition: .8s ease;
    overflow: hidden;

    .trip-image {
      position: relative;
      height: 100%;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // .trip-info-display {
    //   position: absolute;
    //   bottom: 5%;
    //   background-color: green;
    //   color: red;
    //   height: auto;
    //   width: 25%;
    // }
  }


}
